* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
header {
  position: sticky;
  top: 0;
  font-size: 1.5rem;
  font-family: "Abyssinica SIL", serif;
}

body {
  width: 100%;
  background-image: url(imagenes/fondo1.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.aqui:hover {
  cursor: pointer;
}

.main__text-colectivos {
  font-family: "Noto Sans Mono", monospace;
  font-style: italic;
  color: white;
  margin-top: 1rem;
  margin-left: 2rem;
  margin-bottom: 2rem;
  line-height: 2rem;
}

.nav-item {
  margin: 3rem;
}

.grid--container {
  display: grid;
  grid-template-columns: repeat(1, 0.2fr);
  justify-content: left;
  margin-right: 2rem;
}

.container {
  margin: 0;
  padding: 0;
}

.text-find {
  margin-top: 2rem;
}

.text-align-center {
  text-align: center;
}

.main__title {
  padding: 3rem;
  font-size: 2rem;
  text-transform: uppercase;
  text-align: center;
  font-weight: bold;
  justify-content: center;
  margin-top: 2rem;
  margin-left: 5rem;
}

.span--green {
  color: green;
}

.span--yellow {
  color: yellow;
}

.span--yellow:hover {
  color: green;
}
.span--green:hover {
  color: yellow;
}

.span--bold {
  font-weight: bold;
}

.section__image {
  width: 34rem;
  height: 28rem;
  margin: 2rem;
}

.image__description {
  margin: 0;
  font-family: "Noto Sans Mono", monospace;
  font-style: italic;
  color: white;
  line-height: 2rem;
  padding: 1rem 0rem;
}

.main__text {
  font-family: "Noto Sans Mono", monospace;
  font-style: italic;
  color: white;
  margin: 2rem;
  line-height: 2rem;
}

.aqui:hover {
  color: yellow;
  opacity: 1rem;
}

.footer__main {
  font-size: 1.5rem;
  font-family: "Abyssinica SIL", serif;
  margin: 0.5rem;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer__list {
  list-style: none;
  display: flex;
  justify-content: center;
  margin: 0rem 0.5rem;
}

.fa-brands {
  margin-right: 0.3rem;
  padding-right: 0.3rem;
  color: green;
}

.fa-brands:hover {
  color: yellow;
  opacity: 1rem;
}

.footer__text {
  text-align: center;
}

main {
  text-align: center;
  justify-content: center;
}

.bus:hover {
  opacity: 0.3;
}

.span-green {
  color: green;
  opacity: 3rem;
}

.span-red {
  color: red;
}

.span-blue {
  color: blue;
}

@media (min-width: 768px) {
  .navbar-toggler {
    display: none;
  }

  .main__title {
    padding: 3rem;
    font-size: 2.5rem;
    text-transform: uppercase;
    text-align: center;
    font-weight: bold;
  }

  .iframe-container {
    display: flex;
    justify-content: center;
  }

  .iframe {
    margin-left: 20rem;
    margin-top: 2rem;
  }

  .grid--container {
    display: grid;
    grid-template-columns: repeat(2, 0.5fr);
  }

  .main__text-colectivos {
    font-family: "Noto Sans Mono", monospace;
    font-style: italic;
    color: white;
    margin-top: 15rem;
    margin-left: 2rem;
    line-height: 2rem;
  }
}

@media (min-width: 1024px) {
  .image__position {
    display: flex;
    justify-content: center;
  }

  main {
    text-align: center;
  }

  .section__image {
    width: 20rem;
  }
  .grid--container {
    display: grid;
    grid-template-columns: repeat(3, 0.2fr);
    justify-content: center;
  }
  .main__title {
    padding: 3rem;
    font-size: 4rem;
    text-transform: uppercase;
    text-align: center;
    font-weight: bold;
  }
  .iframe-container {
    display: flex;
    justify-content: center;
  }

  .main__text-colectivos {
    font-family: "Noto Sans Mono", monospace;
    font-style: italic;
    color: white;
    margin-top: 15rem;
    margin-left: 2rem;
    line-height: 2rem;
  }

  .iframe {
    margin-left: 5rem;
  }
  .aside {
  }
}
