* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
header {
  position: sticky;
  top: 0;
  font-size: 1.5rem;
  font-family: "Abyssinica SIL", serif;
  z-index: 2;
}

body {
  width: 100%;
  background-image: url(imagenes/fondo1.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.aqui:hover {
  cursor: pointer;
}

.main__text-colectivos {
  font-family: "Noto Sans Mono", monospace;
  font-style: italic;
  color: white;
  line-height: 2rem;
}

.nav-item {
  margin: 1rem;
}

.container {
  margin: 0;
  padding: 0;
}

.text-find {
  margin-top: 2rem;
}

.text-align-center {
  text-align: center;
}

.main__title {
  padding: 3rem;
  font-size: 2rem;
  text-transform: uppercase;
  text-align: center;
  font-weight: bold;
  justify-content: center;
}

.text-font {
  font-family: "Noto Sans Mono", monospace;
  font-style: italic;
}

.iframe-container iframe {
  width: 15rem;
  height: 15rem;
  margin-bottom: 2rem;
}

.iframe-container {
  margin: 2rem 0;
}

.main-title {
  color: white;
  padding: 3rem;
  font-size: 2rem;
  text-transform: uppercase;
  text-align: center;
  font-weight: bold;
  justify-content: center;
  margin-top: 1rem;
  text-align: center;
}
.span--green {
  color: green;
}

.span--yellow {
  color: yellow;
}

.span--yellow:hover {
  color: green;
}
.span--green:hover {
  color: yellow;
}

.span--bold {
  font-weight: bold;
}

.section__image-n {
  width: 16rem;
  height: 16rem;
  margin: 2rem;
}

.section__image-i {
  width: auto;
  height: auto;
  max-width: 100%;
  padding: 2rem;
}

.image__description {
  margin: 0;
  font-family: "Noto Sans Mono", monospace;
  font-style: italic;
  color: white;
  line-height: 2rem;
  padding: 1rem 0rem;
}

.main__text {
  font-family: "Noto Sans Mono", monospace;
  font-style: italic;
  color: white;
  padding: 2rem;
  line-height: 2rem;
}

.aqui:hover {
  color: yellow;
  opacity: 1rem;
}

.footer__main {
  font-size: 1.5rem;
  font-family: "Abyssinica SIL", serif;
  margin: 0.5rem;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer__list {
  list-style: none;
  display: flex;
  justify-content: center;
  margin: 0rem 0.5rem;
}

.fa-brands {
  margin-right: 0.3rem;
  padding-right: 0.3rem;
  color: green;
}

.fa-brands:hover {
  color: yellow;
  opacity: 1rem;
}

.footer__text {
  text-align: center;
}

main {
  text-align: center;
  justify-content: center;
}

.bus:hover {
  opacity: 0.3;
}

.span-green {
  color: green;
  opacity: 3rem;
}

.span-red {
  color: red;
}

.span-blue {
  color: blue;
}

.main__text--c {
  color: white;
  font-size: 2rem;
  text-transform: uppercase;
  text-align: center;
  font-weight: bold;
  justify-content: center;
  margin-top: 1rem;
  text-align: center;
}

.btn {
  background-color: green;
  color: yellow;
}

.btn:hover {
  opacity: 0.3;
}

@media (min-width: 768px) {
  .navbar-toggler {
    display: none;
  }

  .main__title {
    padding: 3rem;
    font-size: 2.5rem;
    text-transform: uppercase;
    text-align: center;
    font-weight: bold;
  }

  .iframe-container iframe {
    width: 25rem;
    height: 25rem;
  }

  .grid--container {
    display: grid;
    grid-template-columns: repeat(2, 0.5fr);
    justify-content: center;
  }

  .main__text-colectivos {
    font-family: "Noto Sans Mono", monospace;
    font-style: italic;
    color: white;
    line-height: 2rem;
    padding: 2rem;
    align-items: center;
  }
}
@media (min-width: 1024px) {
  .image__position {
    display: flex;
    justify-content: center;
  }

  .card {
    border-radius: 30px;
    height: 30rem;
  }

  .card__image {
    height: 15rem;
  }

  main {
    text-align: center;
  }

  .grid--container {
    display: grid;
    grid-template-columns: repeat(3, 0.2fr);
    justify-content: center;
  }
  .main__title {
    padding: 3rem;
    font-size: 4rem;
    text-transform: uppercase;
    text-align: center;
    font-weight: bold;
  }

  .main__text-colectivos {
    font-family: "Noto Sans Mono", monospace;
    font-style: italic;
    color: white;
    line-height: 2rem;
  }

  .main__text--c {
    font-family: "Noto Sans Mono", monospace;
    font-style: italic;
    color: white;
    margin: 1rem;
    line-height: 4rem;
    padding: 0;
  }

  .section__image-i {
    width: auto;
    height: auto;
    max-width: 400px;
    padding: 2rem;
  }

  .iframe-container iframe {
    width: 35rem;
    height: 35rem;
  }

  .iframe-container {
    padding: 2rem;
  }

  .okitek1 {
    margin: 0 auto;
    max-width: 1200px;
  }
}
